#sequenceCompleteReverseHtml
# this is not working : i may just do it in the cell for all the other sequencings.
# this is not tied in

  = "sequence_complete_reverse = #{@sequence_complete_reverse}"

