<h1>New quote</h1>

<%= render 'form' %>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Anagrams', anagrams_path %> | 
  <%= link_to 'Show All Quotes', quotes_path %>
</div>
