<input type='submit' id='anagramListOpen' value='Open Anagram List' />

#anagramListDisplay

  .anagramList

    %blockquote="The last ten anagrams entered into the database : "

    %ul
      - for anagram in @anagrams
        %li=anagram.text
  
    <input type='submit' id='anagramListClose' class='tmpButtons' value='Close Anagram List' />
 