<input type='submit' id='anagramListOpen' value='Open Anagram List' />

#anagramListDisplay

  .anagramList

    %p="Last ten anagrams entered :"

    %ul
      - for anagram in @anagrams
        %li=anagram.anagram_text
  
    <input type='submit' id='anagramListClose' class='tmpButtons' value='Close Anagram List' />
 