.anagramEntry {
  border: 13px solid navy;
  border-left: 14px solid aqua;
  border-right: 14px solid aqua;
}

.anagramList {
  background: #FFFDDA;
  border-top: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

.anagramList ul li {
  background: #FFFDDA;
}

.anagramWidgetDisplay {
  background: #99CCFF;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
}

.apotomo {
  border: 2px solid #959595;
}

.autocomputeSingular {
  border: 2px solid silver;
}

.autocomputeLexigram {
  border: 2px solid silver;
}

.autocomputeComplete {
  border: 2px solid silver;
}

.autocomputeCreation {
  border: 2px solid silver;
}

.autocomputeCreated {
  border: 2px solid silver;
}

.cellularQuote {
  background: #FFFF99;
  border-top: 5px solid maroon;
  border-right: 10px solid maroon;
  border-bottom: 15px solid maroon;
  border-left: 25px solid maroon;
}

.codeSource {
  background: yellow;
}
  
.cellularQuoteSequencerDisplay {
  background: #FFFFCC;
  border-top: 17px solid maroon;
  border-right: 12px solid maroon;
  border-bottom: 5px solid maroon;
  border-left: 2px solid maroon;
}

.count {
  background: #FFFDDA;
}

.countAnagrams {
  background: #FFFDDA;
}

.countQuotes {
  background: #FFFDDA;
}

.countSequenceCreateds {
  background: #FFFDDA;
}

.countSequences {
  background: #FFFDDA;
}

.CurrentTime {
  border: 1px solid blue;
}

.formAnagram {
  border: 1px solid black;
}

.formAnagram #anagram form input#anagramText {
  border: 2px solid red;
  background: #F9C8D8;
}

.formAnagram #anagram form input#description {
  border: 2px solid red;
}

.formAnagram #anagram form input#reference {
  border: 2px solid red;
}

.formSequenceCreated {
  border: 13px solid aqua;
  border-top: 3px solid aqua;
  border-bottom: 2px solid aqua;
}

.formSequenceCreated input {
  border: 1px solid black;
  background: #F9C8D8;
}

.hereBegins {
  border-top: 15px solid purple;
  border-left: 14px solid aqua;
  border-bottom: 1px solid aqua;
  border-right: 14px solid aqua;
}

.hereBeginsText {
  border-right: 3px solid aqua;
}

.hereEnds {
  border-top: 1px solid aqua;
  border-left: 14px solid aqua;
  border-bottom: 5px solid purple;
  border-right: 14px solid aqua;
}

.links {
  border-left: 14px solid aqua;
}

.linksGroup {
  border-left: 14px solid aqua;
}

.linksInfo {
  border-left: 16px solid aqua;
}

.linksInfoCrud {
  background: #FFFF00;
}

.linksInfoRoot {
  border-left: 14px solid aqua;
}

.linkTo {
  background: #FFFDDA;
}

.newAnagram {
  border: 10px solid yellow;
}

.newAnagram > .field {
  border: 2px solid blue;
}

.newAnagram > .field#text {
  border: 2px solid lime;
}

.quoteText {
  border-top: 17px solid teal;
  border-right: 12px solid teal;
  border-bottom: 3px solid teal;
  border-left: 40px solid teal;
}

.sequenceCreatedWidgetDisplay {
  background: #FFFDDA;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
}


#sequenceEdit {
  border: 2px solid yellow;
}

.sequencesubmit {
  border: 2px solid yellow;
  background: yellow;
  color: black;
}

.submitsequence {
  border: 2px solid red;  
  background: yellow;
  color: black;
}

.sequencerWidgetDisplay {
  background: white;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
}

.noteSequenceCreated {
  background: #F9C8D8;
}

.fieldWithErrors {
  background: red;
}

.textFound {
  border: 4px dotted yellow;
}

#currentTime {
  border: 1px solid red;
}

#datepick {
  border: 14px solid navy;
  border-left: 14px solid aqua;
  border-right: 4px solid navy;
}

#reset {
  background: #99CCFF;
  color: purple;
}

#sequenceText {
  border: 1px solid red;
}

#sequenceTextHtml {
  border: 1px solid navy;
}

#sequenceCreationHtml {
  border: 1px solid navy;
}

#sequenceCompleteHtml {
  border: 1px solid navy;
}

#sequenceLexigramHtml {
  border: 1px solid navy;
}

#sequenceSingularHtml {
  border: 1px solid navy;
}

#sequencerFirst {
  border: 2px solid olive;
}

#sequencerSecond {
  border: 2px solid olive;
}

#sequencerWidgetDisplay {
  background: #FFFDDA;
  border-top: 5px solid purple;
  border-right: 49px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
}

#sequencerFirst > input > anagramEntry#anagramText {
  border: 10px solid red;
}

#kathyonu {
  border-right: 2px solid #AA99C5;
  border-bottom: 10px solid #AA99C5;
  border-left: 2px solid #AA99C5;
}

.kathyonu {
  border-right: 78px solid purple;
  border-left: 78px solid purple;
}
