body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

.anagrams_index {
  border: 1px solid blue;
  padding-left: 8px;
  margin-right: 4px;
}

.anagram_widget_display {
  border: 11px solid red;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  padding-left: 4px;
}

.cellular_quote {
  border: 11px solid red;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 75%;
}

.sequence_created_widget_display {
  border: 11px solid brown;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

.sequencer_index {
  border: 11px solid purple;
  margin-left: 4px;
  padding-left: 4px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
