body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

.anagrams_index {
  border: 1px solid blue;
  padding-left: 8px;
  margin-right: 4px;
}

.anagram_widget_display {
  border: 11px solid red;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  padding-left: 4px;
}

.cellular_quote {
  border-top: 15px solid maroon;
  border-right: 25px solid maroon;
  border-bottom: 35px solid maroon;
  border-left: 5px solid maroon;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
  padding-left: 8px;
}

.cellular_quote_sequencer_display {
  border-top: 17px solid maroon;
  border-right: 12px solid maroon;
  border-bottom: 5px solid maroon;
  border-left: 45px solid maroon;
  margin-top: 1px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: 80px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 22px;
  width: 75%;
}

.quote_text {
  border-top: 17px solid teal;
  border-right: 12px solid teal;
  border-bottom: 3px solid teal;
  border-left: 40px solid teal;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-style: italic;
}

.sequence_created_widget_display {
  border: 11px solid brown;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

.sequencer_display {
  border: 11px solid purple;
  border-top: 44px solid purple;
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 4px;
}

.sequencer_widget_display {
  border-top: 4px solid purple;
  border-right: 4px solid purple;
  border-bottom: 4px solid purple;
  border-left: 4px solid purple;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 6px;
  padding-left: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#sequence_created_html {
  border: 2px solid navy;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

#sequence_creation_html {
  border: 2px solid navy;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

#sequence_complete_html {
  border: 2px solid navy;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

#sequence_lexigram_html {
  border: 2px solid navy;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

#sequence_singular_html {
  border: 2px solid navy;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
