.anagrams_index {
  border: 1px solid blue;
  padding-left: 8px;
  margin-right: 4px;
}

.anagram_list {
  background-color: #6699FF;
  border: 2px solid red;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.anagram_widget_display {
  background-color: #99CCFF;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-top: 5px;
  margin-right: 14px;
  margin-bottom: 5px;
  margin-left: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

.cellular_quote {
  background-color: #FFFF99;
  border-top: 5px solid maroon;
  border-right: 10px solid maroon;
  border-bottom: 15px solid maroon;
  border-left: 25px solid maroon;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
  padding-left: 8px;
  width: 55%;
}

.code_source {
  text-align: right;
  font-size: 95%;
  font-weight: bold;
}
  
.cellular_quote_sequencer_display {
  float: clear;
  background-color: #FFFFCC;
  border-top: 17px solid maroon;
  border-right: 12px solid maroon;
  border-bottom: 5px solid maroon;
  border-left: 2px solid maroon;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: 44px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 55%;
}

.CurrentTime {
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
}

.here_begins {
  border-top: 15px solid purple;
  border-left: 14px solid aqua;
  border-bottom: 1px solid aqua;
  border-right: 14px solid aqua;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 80%;
  text-align: right;

}

.here_ends {
  border-top: 1px solid aqua;
  border-left: 14px solid aqua;
  border-bottom: 5px solid purple;
  border-right: 14px solid aqua;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 80%;
  text-align: right;
}

.quote_text {
  border-top: 17px solid teal;
  border-right: 12px solid teal;
  border-bottom: 3px solid teal;
  border-left: 40px solid teal;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-style: italic;
  text-align: left;
}

.sequence_created_widget_display {
  background-color: azure;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

.sequencer_display {
  background-color: #f0f0f0;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.sequencer_widget_display {
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#current_time {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;  
}

#sequence_created_html {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequence_creation_html {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequence_complete_html {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequence_lexigram_html {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequence_singular_html {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}
