.anagramEntry {
  border: 13px solid navy;
  border-left: 14px solid aqua;
  border-right: 14px solid aqua;
  padding-top: 8px;
  padding-left: 8px;
}

.anagramsIndex {
  border: 1px solid blue;
  padding-left: 8px;
  margin-right: 4px;
}

.anagramList {
  background-color: #6699FF;
  border: 2px solid red;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.anagramList ul li {
  line-height: 22px;
}

.anagramWidgetDisplay {
  background-color: #99CCFF;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.apotomo {
  border: 2px solid grey;
}

.autocomputeSingular {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeLexigram {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeComplete {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeCreation {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeCreated {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.cellularQuote {
  background-color: #FFFF99;
  border-top: 5px solid maroon;
  border-right: 10px solid maroon;
  border-bottom: 15px solid maroon;
  border-left: 25px solid maroon;
  margin-bottom: 10px;
  margin-left: 55px;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 55%;
}

.codeSource {
  text-align: right;
  font-size: 110%;
  font-weight: bold;
}
  
.cellularQuoteSequencerDisplay {
  background-color: #FFFFCC;
  border-top: 17px solid maroon;
  border-right: 12px solid maroon;
  border-bottom: 5px solid maroon;
  border-left: 2px solid maroon;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: 44px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 55%;
}

.count {
  font-size: 75%;
  font-style: italic;
  margin-bottom: 3px;
  padding-left: 16px;
}

.countAnagrams {
  margin-bottom: 3px;
  padding:  2px;
}

.countQuotes {
  margin-bottom: 3px;
  padding: 2px;
}

.countSequenceCreateds {
  padding: 2px;
}

.countSequences {
  margin-bottom: 3px;
  padding: 2px;
}

.CurrentTime {
  border: 1px solid blue;
  margin-top: 0;
  margin-right: 10%;
  font-size: 2em;
  line-height: 150%;
}

.formAnagram {
  border: 1px solid black;
  margin: 4px;
  margin-top: 8px;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 7px;
}

.formAnagram #anagram form input#anagram_text {
  border: 2px solid red;
  background-color: pink;
  margin: 8px;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 1px;
}

.formAnagram #anagram form input#description {
  border: 2px solid red;
  margin: 8px;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 1px;
  margin-left: 45px;
}

.formAnagram #anagram form input#reference {
  border: 2px solid red;
  margin: 8px;
  margin-bottom: 7px;
  padding: 5px;
  padding-bottom: 1px;
  margin-left: 45px;
}

.formSequenceCreated {
  border: 13px solid aqua;
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
  padding-left: 5px;
}

.formSequenceCreated input {
  border: 3px solid black;
  background-color: pink;
  margin: 8px;
  padding: 5px;
}

.hereBegins {
  border-top: 15px solid purple;
  border-left: 14px solid aqua;
  border-bottom: 1px solid aqua;
  border-right: 14px solid aqua;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 80%;
  text-align: right;

}

.hereBeginsText {
  border-right: 3px solid aqua;
  padding-right: 11px;
  font-size: 80%;
  text-align: right;

}

.hereEnds {
  border-top: 1px solid aqua;
  border-left: 14px solid aqua;
  border-bottom: 5px solid purple;
  border-right: 14px solid aqua;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 80%;
  text-align: right;
}

.links {
  border-left: 14px solid aqua;
  line-height: 125%;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.linksGroup {
  border-left: 14px solid aqua;
  line-height: 110%;
  margin-left: 16px;
  padding-left: 5px;
}

.linksInfo {
  border-left: 16px solid aqua;
  font-size: 110%;
  margin-top: 4px;
  padding-top: 5px;
  padding-left: 8px;
}

.linksInfoCrud {
  line-height: 110%;
  font-size: 85%;
  margin-bottom: 4px;
  margin-left: -18px;
}

.linksInfoRoot {
  border-left: 14px solid aqua;
  font-size: 90%;
  font-weight: bold;
  margin-left: 7px;
  padding-left: 13px;
}

.linkTo {
  font-weight: bold;
  line-height: 150%;
  margin-left: 5px;
}

.newAnagram {
  border: 10px solid yellow;
  font-style: italic;
  margin: 10px;
  padding: 10px;
}

.newAnagram > div.field {
  border: 2px solid blue;
  font-style: italic;
}

.newAnagram > div.field#text {
  border: 2px solid lime;
  font-style: italic;
}

.quoteText {
  border-top: 17px solid teal;
  border-right: 12px solid teal;
  border-bottom: 3px solid teal;
  border-left: 40px solid teal;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-style: italic;
  text-align: left;
}

.sequenceCreatedWidgetDisplay {
  background-color: azure;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.sequencerDisplay {
  background-color: #f0f0f0;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  font-size: 90%;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding: 10px;
  width: 80%;
}

.noteSequenceCreated {
  margin-top: 10px;
  margin-left: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.small {
  font-size: 75%;
}

.strong {
  font-weight: bold;
}

.submit {
  border: 2px solid teal;
}

.textFound {
  border: 4px dotted yellow;
}

.tmpButtons {
  bottom: 5px;
  right: 5px;
}

#anagramListClose {
  position: relative;
  margin-left: -25px;
  bottom: 304px;
  width: 81%;
}

#anagramListOpen {
  position: relative;
  top: 19px;
  left: 18px;
  width: 91%;
}

#anagramListDisplay {
  display: none;
  position: relative;
  top: 6px;
  left: -10px;
  padding-top: 4px;
  width: 180%;
}

#currentTime {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;  
  font-size: 2em;
  line-height: 150%;
}

#date {
  font-weight: bold;
  line-height: 150%;
  margin-left: 5px;
}

#datepick {
  border: 14px solid navy;
  border-left: 14px solid aqua;
  border-right: 4px solid navy;
  font-size: 75%;
  padding: 4px;
  text-align: center;
  width: 175px;
}

#sequence_text {
  border: 3px solid red;
}

#sequenceTextHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCreationHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCompleteHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceLexigramHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceSingularHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequencerFirst {
  border: 2px solid olive;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 85%;
  padding: 10px;
  width: 50%;
}


#sequencerSecond {
  border: 2px solid olive;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 85%;
  padding: 10px;
  width: 50%;
}

#sequencerClose {
  position: relative;
  left: -27px;
  bottom: -12px;
  width: 112%;
  z-index: 16;
}

#sequencerOpen {
  position: absolute;
  bottom: 88px;
  left: -5px;
  margin-bottom: 3px;
  margin-left: 45px;
  text-align: center;
  width: 460px;
  z-index: 14;
}

#sequencerWidgetDisplay {
  display: none;
  position: absolute;
  top: 200px;
  left: 30px;
  background: ivory;
  border-top: 5px solid purple;
  border-right: 49px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-right: 44px;
  margin-bottom: 5px;
  margin-left: 14px;
  padding: 11px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  width: 550px;
}

#sequencerFirst > input > anagramEntry#anagram_text {
  border: 10px solid red;
  margin-top: 10px;
  font-size: 75%;
}

#kathyonu {
  position: absolute;
  bottom: 7px;
  left: 25px;
  border: 2px solid violet;
  border-bottom: 10px solid violet;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 45px;
  text-align: center;
  width: 400px;
}

#anagramSubmit {
  border: 4px solid blue;
  margin-left: 20px;
}
