.anagramsIndex {
  border: 1px solid blue;
  padding-left: 8px;
  margin-right: 4px;
}

.anagramList {
  background-color: #6699FF;
  border: 2px solid red;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.anagramWidgetDisplay {
  background-color: #99CCFF;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-top: 5px;
  margin-right: 14px;
  margin-bottom: 5px;
  margin-left: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

.autocomputeSingular {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeLexigram {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeComplete {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeCreation {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.autocomputeCreated {
  border: 2px solid silver;
  padding: 2px;
  margin: 2px;
}

.cellularQuote {
  background-color: #FFFF99;
  border-top: 5px solid maroon;
  border-right: 10px solid maroon;
  border-bottom: 15px solid maroon;
  border-left: 25px solid maroon;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 55%;
}

.codeSource {
  text-align: right;
  font-size: 95%;
  font-weight: bold;
}
  
.cellularQuoteSequencerDisplay {
  background-color: #FFFFCC;
  border-top: 17px solid maroon;
  border-right: 12px solid maroon;
  border-bottom: 5px solid maroon;
  border-left: 2px solid maroon;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: 44px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 55%;
}

.count {
  border-left: 14px solid aqua;
  font-size: 75%;
  font-style: italic;
  padding-left: 16px;
}

.countAnagrams {
  border-left: 14px solid aqua;
  padding:  2px;
}

.countQuotes {
  border-left: 13px solid aqua;
  padding: 2px;
}

.countSequenceCreateds {
  border-left: 14px solid aqua;
  padding: 2px;
}

.countSequences {
  border-left: 14px solid aqua;
  padding: 2px;
}

.CurrentTime {
  border: 1px solid blue;
  margin-top: 0;
  margin-right: 10%;
  font-size: 2em;
  line-height: 150%;
}

.formAnagram {
  border: 12px solid black;
  margin: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 5px;
}

.formSequenceCreated {
  border: 13px solid aqua;
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
  margin-right: 14px;
  margin-left: 14px;
  padding-left: 5px;
}

.hereBegins {
  border-top: 15px solid purple;
  border-left: 14px solid aqua;
  border-bottom: 1px solid aqua;
  border-right: 14px solid aqua;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 80%;
  text-align: right;

}

.hereBeginsText {
  border-right: 3px solid aqua;
  padding-right: 11px;
  font-size: 80%;
  text-align: right;

}

.hereEnds {
  border-top: 1px solid aqua;
  border-left: 14px solid aqua;
  border-bottom: 5px solid purple;
  border-right: 14px solid aqua;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 80%;
  text-align: right;
}

.links {
  border-left: 14px solid aqua;
  font-weight: bold;
  line-height: 125%;
  padding-left: 5px;
}

.linkTo {
  font-weight: bold;
  line-height: 150%;
  margin-left: 5px;
}

.quoteText {
  border-top: 17px solid teal;
  border-right: 12px solid teal;
  border-bottom: 3px solid teal;
  border-left: 40px solid teal;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-style: italic;
  text-align: left;
}

.sequenceCreatedWidgetDisplay {
  background-color: azure;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

.sequencerDisplay {
  background-color: #f0f0f0;
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.sequencerWidgetDisplay {
  border-top: 5px solid purple;
  border-right: 11px solid purple;
  border-bottom: 5px solid purple;
  border-left: 11px solid purple;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.noteSequenceCreated {
  margin-top: 10px;
  margin-left: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.small {
  font-size: 75%;
}

.strong {
  font-weight: bold;
}

#currentTime {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;  
  font-size: 2em;
  line-height: 150%;
}

#date {
  font-weight: bold;
  line-height: 150%;
  margin-left: 5px;
}

#datepick {
  border: 14px solid navy;
  border-left: 14px solid aqua;
  border-right: 4px solid navy;
  font-size: 75%;
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
  width: 175px;
}

#sequenceCreatedHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCreationHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCompleteHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceLexigramHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceSingularHtml {
  border: 1px solid navy;
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}
