.anagramEntry {
  padding-top: 8px;
  padding-left: 8px;
}

.anagramsIndex table {
  padding-left: 8px;
  margin-right: 4px;
  width: 1200px;
}

.anagramList {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  margin-left: 5px;
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 10px;
}

.anagramList ul li {
  line-height: 21px;
  margin: 1px;
}

.anagramWidgetDisplay {
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.autocomputeSingular {
  padding: 2px;
  margin: 2px;
}

.autocomputeLexigram {
  padding: 2px;
  margin: 2px;
}

.autocomputeComplete {
  padding: 2px;
  margin: 2px;
}

.autocomputeCreation {
  padding: 2px;
  margin: 2px;
}

.autocomputeCreated {
  padding: 2px;
  margin: 2px;
}

.cellularQuote {
  margin-bottom: 10px;
  margin-left: 55px;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 55%;
}

.codeSource {
  text-align: right;
  font-size: 110%;
  font-weight: bold;
}
  
.cellularQuoteSequencerDisplay {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: 44px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 55%;
}

.count {
  font-size: 75%;
  font-style: italic;
  margin-bottom: 3px;
  padding-left: 16px;
}

#countAnagrams {
  margin-left: 50px;
  margin-bottom: 3px;
  padding:  2px;
}

#countQuotes {
  margin-left: 50px;
  margin-bottom: 3px;
  padding: 2px;
}

#countSequenceCreateds {
  margin-left: 50px;
  margin-bottom: 3px;
  padding: 2px;
}

#countSequences {
  margin-left: 50px;
  margin-bottom: 3px;
  padding: 2px;
}

.CurrentTime {
  margin-top: 0;
  margin-right: 10%;
  font-size: 140%;
  line-height: 150%;
}

.formAnagram {
  margin: 4px;
  margin-top: 8px;
  padding: 7px;
  padding-top: 5px;
}

.formAnagram #anagram form input#anagramText {
  margin: 8px;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 1px;
}

.formAnagram #anagram form input#description {
  margin: 8px;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 1px;
  margin-left: 25px;
}

.formAnagram #anagram form input#reference {
  margin: 8px;
  margin-bottom: 7px;
  padding: 5px;
  padding-bottom: 1px;
  margin-left: 25px;
}

.formSequenceCreated {
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.formSequenceCreated input {
  margin: 8px;
  padding: 5px;
}

.hereBegins {
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 80%;
  text-align: right;

}

.hereBeginsText {
  padding-right: 11px;
  font-size: 80%;
  text-align: right;

}

.hereEnds {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 80%;
  text-align: right;
}

.links {
  line-height: 125%;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.linksGroup {
  line-height: 110%;
  margin-left: 16px;
  padding-left: 5px;
}

.linksInfo {
  font-size: 110%;
  margin-top: 4px;
  padding-top: 5px;
  padding-left: 8px;
}

.linksInfoCrud {
  line-height: 110%;
  font-size: 85%;
  margin-bottom: 4px;
  margin-left: -18px;
}

.linksInfoRoot {
  font-size: 90%;
  font-weight: bold;
  margin-left: 7px;
  padding-left: 13px;
}

.linkTo {
  font-weight: bold;
  line-height: 140%;
  margin-left: 5px;
}

.newAnagram {
  font-style: italic;
  margin: 10px;
  padding: 10px;
}

.newAnagram > div.field {
  font-style: italic;
}

.newAnagram > div.field#text {
  font-style: italic;
}

.quoteText {
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-style: italic;
  text-align: left;
}

.sequenceCreatedWidgetDisplay {
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  z-index: 12;
}

/* replaced by new name, #sequencetext
#sequenceEntry {
  margin: 3px;
  padding: 5px;
}
*/

.sequencerWidgetDisplay {
  font-size: 90%;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 5px;
  padding: 10px;
  width: 80%;
  z-index: 21;
}

#single {
  border: 1px solid red;
  margin-bottom: 7px;
}

.noteSequenceCreated {
  margin-top: 10px;
  margin-left: 10px;
}

.fieldWithErrors {
  padding: 2px;
  display: table;
}

.sequencesubmit {
  font-size: 130%;
  padding-left: 45px;
}

.submitsequence {
  font-size: 110%;
}

.small {
  font-size: 75%;
}

.strong {
  font-weight: bold;
}

.tmpButtons {
  bottom: 5px;
  right: 5px;
}

#anagramListClose {
  position: relative;
  top: -275px;
  margin-left: -26px;
  width: 66%;
}

#anagramListOpen {
  position: relative;
  top: 22px;
  left: 18px;
  width: 91%;
}

#anagramListDisplay {
  display: none;
  position: relative;
  top: 2px;
  left: -10px;
  padding-top: 1px;
  width: 180%;
}

#currentTime {
  padding: 10px;
  margin: 10px;  
  font-size: 140%;
  line-height: 150%;
}

#date {
  font-weight: bold;
  line-height: 150%;
  margin-left: 5px;
}

#datepick {
  position: relative;
  bottom: -47px;
  font-size: 75%;
  margin-left: 403px;
  padding: 4px;
  text-align: center;
  width: 175px;
}

input#sequencetext {
  margin-bottom: 15px;
  margin-left: 15px;
  padding-left: 5px;
  border-bottom: 4px solid #000;
  line-height: 120%;
  font-size: 120%;
  width: 800px;
}

form#sequences > input#submit {
  display: none;
}

#reset {
  font-size: 80%;
  margin-right: 10px;
  padding-right: 10px;
  text-align: right;
}

#sequence_sequence_text {
  margin-top: 5px;
  padding: 5px;
}


#sequence_sequence_creation {
  margin-top: 5px;
  padding: 5px;
}


#sequence_sequence_complete {
  margin-top: 5px;
  padding: 5px;
}


#sequence_sequence_lexigram {
  margin-top: 5px;
  padding: 5px;
}


#sequence_sequence_singular {
  margin-top: 5px;
  padding: 5px;
}

#sequenceCreatedsIndex {
  width: 1400px;
}

#sequenceTextHtml {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCreationHtml {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceCompleteHtml {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceLexigramHtml {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequenceSingularHtml {
  width: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-bottom: 2px;
}

#sequencerFirst {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 85%;
  padding: 10px;
  width: 55%;
}

#sequencerSecond {
  border: 2px solid olive;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 85%;
  padding: 10px;
  width: 50%;
}

#sequencerClose {
  position: absolute;
  bottom: -24px;
  left: -30px;
  width: 117%;
  z-index: 16;
}

#sequencerOpen {
  position: relative;
  bottom: 21px;
  left: -50px;
  margin-bottom: 3px;
  margin-left: 45px;
  text-align: center;
  width: 460px;
  z-index: 13;
}

#sequencerWidgetDisplay {
  display: none;
  position: absolute;
  top: 165px;
  left: 30px;
  margin-right: 44px;
  margin-bottom: 5px;
  margin-left: 25px;
  padding: 11px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  width: 550px;
  z-index: 70;
}

#sequencerFirst > input > anagramEntry#anagramText {
  margin-top: 10px;
  font-size: 75%;
}

#kathyonu {
  position: relative;
  bottom: 33px;
  left: 10px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 11px;
  text-align: center;
  width: 405px;
  z-index: 10;
}

.kathyonu {
  position: relative;
  bottom: -6px;
  left: -11px;
  font-size: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  width: 420px;
  z-index: 11;
}
