<div class="sequencer_display">

<div class="id1">here begins <b>app/views/sequencer.display</b></div>

<%= render_widget 'sequencer' %>
<%= render_widget 'sequence_created' %>
<%= render_widget 'anagram' %>

<div class="cellular_quote_sequencer_display">
  <%= render_cell :quote, :display2, :quote => @quote %>
</div>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <small>
    the call to enter the QuoteCell here is made from within : app/views/sequencer/display.html.erb
  </small>
</p>

<p>
  <small>
    <br /> These three widgets have been brought to you by : app/views/sequencer/display.html.erb
    <br /> the sequencer_widget, the sequence_created_widget, and the anagram_widget with quote_cell display embedded within its display. 
    <br /> the same quote_cell displays first, and last quotes in two different ways, embedded in two widget displays.
  </small>
</p>

<p>
<small>
  Proof jQuery is working at the app/widgets/sequencer/display level:
  <br />Click on the box 
    <input type="text" name="date" id="date" />
    jQuery responds.
  <br />
</small>
</p>

  <script>$j('#date').datepicker();</script>

<div class="id2">
  here ends
  <b>app/widgets/sequencer/display.html.haml</b>
</div>

</div>
