<div class="sequencerDisplay">
  <div class="firstSequencer">
    <div id="sequencerFirst">
      This is my first javascript powered sequencer, it will render a complete sequence from any entry.
      <br />
      This sequencer is completely independent, self-contained.  Nothing is done with the data.
      <br />
      <br />

<form data-remote="true" action="">
  <label for=anagramEntry>Enter your information then press tab</label>:
  <input id="anagramEntry" name="anagramEntry" type="string" size="100" tabindex=1 />
  <input id="submit" type=submit value="Calculate sequence_complete" />
<script>
  var anagramEntry = document.getElementById('anagramEntry');
  var output = document.createElement('p');
  output.textContent = 'Results will show after you press tab.';
  anagramEntry.form.appendChild(output);
  anagramEntry.form.onsubmit = function() { return false; }
  anagramEntry.onblur = function() {
    var v = anagramEntry.value.split('').sort().toString();
    output.textContent = v + " << this is the sequence_complete";
  };
  var submit = document.getElementById('submit');
  submit.parentNode.removeChild(submit);
</script>
</form>
</div>

<blockquote>
  The above example shows one entry, one processing.
    <br />
    <br />
  In the real thing below, we will grab the anagram text entry with javascript and then
    <br />
  process it five ways, then enter those five results into the sequence_createds form below.
</blockquote>
 
  <%= render_widget 'sequence_created' %>
  <%= render_widget 'anagram' %>
  <%= render_widget 'sequencer' %>

