<div class="sequencer_display">

<div class="here_begins">
  here begins 
  <span class="code_source">
    app/views/sequencer/display</span>
</div>

<%= render_widget 'sequencer' %>
<%= render_widget 'sequence_created' %>
<%= render_widget 'anagram' %>

<div class="cellular_quote_sequencer_display">
  <%= render_cell :quote, :display2, :quote => @quote %>
</div>

<p>
  <small>
    The call to enter the Quote Cell here is made from within : app/views/sequencer/display.html.erb
  </small>
</p>

<p>
  <small>
    <br /> These three widgets have been brought to you by : app/views/sequencer/display.html.erb
    <br /> The sequencer_widget, the sequence_created_widget, and the anagram_widget
    <br /> The two quotes are from the same quote_cell, using two states and their cell views. 
    <br /> The same quote_cell displays first, and last quotes in two different ways, embedded in two widget displays.
  </small>
</p>

<hr>

<div class="here_ends">
  here ends
  <span class="code_source">
    app/views/sequencer/display.html.haml
  </span>
</div>
