<div class="sequencer_index">

<h2>Sequencer#index</h2>

<%= render_widget 'words' %>
<%= render_widget 'creator' %>

<div class="cellular_quote_sequencer_index">
  <%= render_cell :quote, :display2, :quote => @quote %>
  <p>
    <small>
      the call to enter the QuoteCell here is made from within : app/views/sequencer/index.html.erb
    </small>
  </p>
</div>

<p>
  <small>
    <br /> These two widgets have been brought to you by : app/views/sequencer/index.html.erb
    <br /> the sequence_created_widget, and anagram_widget with quote_cell display embedded within its display. 
    <br />   </small>
</p>

</div>
