<h1>Sequencer#index</h1>

<%= render_widget 'creator' %>
<%= render_widget 'words' %>

<p>
  <small>
    These two widgets have been brought to you by : app/views/sequencer/index.html.erb
  </small>
</p>
