%h3
  This is the Quote Cell display

.quote_text

  = @quote.text
  = " - " + @quote.author.downcase

%p
  %small
    this first quote of the day coming to you from app/cells/quote/display.html.haml
