%h3
  First Quote Cell display

.quoteText

  = @quote.text
  = " - " + "#{@quote.author.downcase}"

%p= link_to 'Add a New Quote', new_quote_path
%small 
  ^^^ this link uses scaffolded CRUD to add new quote : app/views/quotes/new.html.erb

%br

%small First Quote Cell display is coming to you from app/cells/quote/display.html.haml
