%h3
  Last Quote Cell display2

.quoteText

  = @quote2.text
  = " - " + "#{@quote2.author.downcase}"

%p= link_to 'Add a New Quote', new_quote_path

%small
  ^^^ this link uses scaffolded CRUD to add a new quote : app/views/quotes/new.html.erb

%br

%small Last Quote Cell display2 is coming to you from : app/cells/quote/display2.html.haml
