<h1>New anagram</h1>

<div class="newAnagram">
  <%= render 'form' %>
</div>

<div class="sequencerDisplay">
    This is my first javascript powered sequencer.
    <br />
    It will render a complete sequence from any entry.
    <br />
    It is completely independent, self-contained.
    <br />
    Nothing is done with the data.
    <br />
    <br />
  <div id="sequencerFirst" class="firstSequencer">

<form data-remote="true" action="">
  <label for=anagramEntry>Enter your information then press tab</label>:
  <input id="anagramEntry" name="anagramEntry" type="string" size="100" tabindex=1 />
  <input id="submit" type=submit value="Calculate sequence_complete" />
<script>
  var anagramEntry = document.getElementById('anagramEntry');
  var output = document.createElement('p');
  output.textContent = 'Results will show after you press tab.';
  anagramEntry.form.appendChild(output);
  anagramEntry.form.onsubmit = function() { return false; }
  anagramEntry.onblur = function() {
    var v = anagramEntry.value.split('').sort().toString();
    output.textContent = v + " << this is the sequence_complete";
  };
  var submit = document.getElementById('submit');
  submit.parentNode.removeChild(submit);
</script>
</form>
</div>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Anagrams', anagrams_path %> | 
  <%= link_to 'Show All Quotes', quotes_path %>
</div>
