<!DOCTYPE html>
<html>
<head>
  <title>ApotomoingSequencers</title>
  <%= javascript_include_tag "application", :debug => true %>
  <%= stylesheet_link_tag "application", :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="kathyonu">apotomoing_sequencers is a <a href="http://www.goodworksonearth.org/board.html"><span>kathy_onu</span></a> creation</div>

</body>
</html>
