<h1>Editing sequence</h1>

<%= render 'form' %>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show This Sequence', @sequence %> |
  <%= link_to 'Show All Sequence', sequences_path %>
</div>